####################################################)#####################)#########
# 属性配置格式：                                                                    
# 绘图属性 + "_" + 业务的唯一标识(busid)                                            
####################################################)#####################)#########
#投影方式，默认等经纬，兰伯特投影才需要设置
[lambertOn_MRPS-BCC-PRECIP-Q001] True
[lambertOn_MRPS-BCC-TEMP-Q001] True
[lambertOn_MRPS-CMAP-PRECIP-Q001] True
[lambertOn_MRPS-NCEP-TEMP-Q001] True
[lambertOn_MRPS-FODAS-PRECIP-Q001] True
[lambertOn_MRPS-FODAS-TEMP-Q001] True
[lambertOn_MRPS-FODAS-TEMP-Q002] True
[lambertOn_MRPS-FODAS-PRECIP-Q002] True
[lambertOn_MRPS-YSQYC-TEMP-Q004] True
[lambertOn_MRPS-YSQYC-PRATE-Q004] True
[lambertOn_MRPS-MODES-JYGWMS-CH-Q001] True
[lambertOn_MRPS-MODES-JYGWMS-CH-Q002] True
###################)##########特殊等值线，若无则不需要设置##########################
#[specialLine_MRPS-BCC-PRECIP-Q001] 0
#[specialLine_MRPS-CMAP-PRECIP-Q001] 0
#[specialLine_MRPS-FODAS-PRECIP-Q001] 0
#特殊等值线颜色
#[specialLineColor_MRPS-BCC-PRECIP-Q001] black
#[specialLineColor_MRPS-CMAP-PRECIP-Q001] black
#[specialLineColor_MRPS-FODAS-PRECIP-Q001] black
#特殊等值线粗细
#[specialLineThickness_MRPS-BCC-PRECIP-Q001] 3
#[specialLineThickness_MRPS-CMAP-PRECIP-Q001] 3
#[specialLineThickness_MRPS-FODAS-PRECIP-Q001] 3
#去除边框
[borderOn_MRPS-BCC-PRECIP-Q001] False
[borderOn_MRPS-BCC-TEMP-Q001] False
[borderOn_MRPS-CMAP-PRECIP-Q001] False
[borderOn_MRPS-NCEP-TEMP-Q001] False
[borderOn_MRPS-FODAS-PRECIP-Q001] False
[borderOn_MRPS-FODAS-TEMP-Q001] False
[borderOn_MRPS-FODAS-PRECIP-Q002] False
[borderOn_MRPS-FODAS-TEMP-Q002] False
[borderOn_MRPS-YSQYC-TEMP-Q004]  False
[borderOn_MRPS-YSQYC-PRATE-Q004] False
[borderOn_MRPS-MODES-QDXYC-Q001]   False
[borderOn_MRPS-MODES-QDXYC-Q002]   False
[borderOn_MRPS-MODES-JYGWMS-ASIA-Q001]   False
[borderOn_MRPS-MODES-JYGWMS-ASIA-Q002]   False
[borderOn_MRPS-MODES-JYGWMS-CH-Q001]   False
[borderOn_MRPS-MODES-JYGWMS-CH-Q002]   False
#是否带坐标轴                                                                       
[isXYon_MRPS-TC-HDLJ-Q001] True
[isXYon_MRPS-HLFX-RHUM-Q001] True
[isXYon_MRPS-HLFX-VWS-Q001] True
[isXYon_MRPS-HLFX-DLQD-Q001] True
[isXYon_MRPS-MYJC-SST-Q001] True
[isXYon_MRPS-MYJC-H500-Q001] True
[isXYon_MRPS-MYJC-U200-Q001] True
[isXYon_MRPS-HXQYJC-H500-Q001] True
[isXYon_MRPS-HXQYJC-SST-Q001] True
[isXYon_MRPS-ENSOJC-SSTA-Q001] True
[isXYon_MRPS-MODES-QDXYC-Q001]   True
[isXYon_MRPS-MODES-QDXYC-Q002]   True
[isXYon_MRPS-MODES-JYGWMS-ASIA-Q001]   True
[isXYon_MRPS-MODES-JYGWMS-ASIA-Q002]   True
[isXYon_MRPS-MODES-JYGWMS-CH-Q001]   False
[isXYon_MRPS-MODES-JYGWMS-CH-Q002]   False
#####################坐标轴属性设置(若isXYon为False或不设置,下部分则不需要设置)#############
#X轴标签字体大小                                                                    
[X_LABEL_MRPS-TC-HDLJ-Q001]  0.014
[X_LABEL_MRPS-HLFX-RHUM-Q001]  0.014
[X_LABEL_MRPS-HLFX-VWS-Q001]   0.014
[X_LABEL_MRPS-HLFX-DLQD-Q001]  0.014
[X_LABEL_MRPS-MYJC-SST-Q001]  0.013
[X_LABEL_MRPS-MYJC-H500-Q001]  0.013
[X_LABEL_MRPS-MYJC-U200-Q001]  0.013
[X_LABEL_MRPS-HXQYJC-H500-Q001]  0.013
[X_LABEL_MRPS-HXQYJC-SST-Q001]  0.013
[X_LABEL_MRPS-ENSOJC-SSTA-Q001]  0.013
[X_LABEL_MRPS-MODES-QDXYC-Q001]   0.013
[X_LABEL_MRPS-MODES-QDXYC-Q002]   0.013
[X_LABEL_MRPS-MODES-JYGWMS-ASIA-Q001]   0.013
[X_LABEL_MRPS-MODES-JYGWMS-ASIA-Q002]   0.013
#X轴主刻度线长度                                                                    
[X_LENGTH_MRPS-TC-HDLJ-Q001] 0.006
[X_LENGTH_MRPS-HLFX-RHUM-Q001] 0.006
[X_LENGTH_MRPS-HLFX-VWS-Q001]  0.006
[X_LENGTH_MRPS-HLFX-DLQD-Q001] 0.006
[X_LENGTH_MRPS-MYJC-SST-Q001] 0.006
[X_LENGTH_MRPS-MYJC-H500-Q001] 0.006
[X_LENGTH_MRPS-MYJC-U200-Q001] 0.006
[X_LENGTH_MRPS-HXQYJC-H500-Q001] 0.006
[X_LENGTH_MRPS-HXQYJC-SST-Q001] 0.006
[X_LENGTH_MRPS-ENSOJC-SSTA-Q001] 0.006
[X_LENGTH_MRPS-MODES-QDXYC-Q001]   0.006
[X_LENGTH_MRPS-MODES-QDXYC-Q002]   0.006
[X_LENGTH_MRPS-MODES-JYGWMS-ASIA-Q001]   0.006
[X_LENGTH_MRPS-MODES-JYGWMS-ASIA-Q002]   0.006
#X轴刻度厚度                                                                        
[X_THICK_MRPS-TC-HDLJ-Q001]       2
[X_THICK_MRPS-HLFX-RHUM-Q001]     2
[X_THICK_MRPS-HLFX-VWS-Q001]      2
[X_THICK_MRPS-HLFX-DLQD-Q001]     2
[X_THICK_MRPS-MYJC-SST-Q001]     2
[X_THICK_MRPS-MYJC-H500-Q001]     2
[X_THICK_MRPS-MYJC-U200-Q001]     2
[X_THICK_MRPS-HXQYJC-H500-Q001]     2
[X_THICK_MRPS-HXQYJC-SST-Q001]     2
[X_THICK_MRPS-ENSOJC-SSTA-Q001]     2
[X_THICK_MRPS-MODES-QDXYC-Q001]   2
[X_THICK_MRPS-MODES-QDXYC-Q002]   2
[X_THICK_MRPS-MODES-JYGWMS-ASIA-Q001]   2
[X_THICK_MRPS-MODES-JYGWMS-ASIA-Q002]   2
#X轴主刻度间隔                                                                      
[X_SPACE_MRPS-TC-HDLJ-Q001]     20
[X_SPACE_MRPS-HLFX-RHUM-Q001]   20
[X_SPACE_MRPS-HLFX-VWS-Q001]    20
[X_SPACE_MRPS-HLFX-DLQD-Q001]   20                                                
[X_SPACE_MRPS-MYJC-H500-Q001]   30                                                
[X_SPACE_MRPS-MYJC-U200-Q001]   30                                                
[X_SPACE_MRPS-MYJC-SST-Q001]   60                                                
[X_SPACE_MRPS-HXQYJC-H500-Q001]   90                                                
[X_SPACE_MRPS-HXQYJC-SST-Q001]   90     
[X_SPACE_MRPS-ENSOJC-SSTA-Q001]   30 
[X_SPACE_MRPS-MODES-QDXYC-Q001]   10
[X_SPACE_MRPS-MODES-QDXYC-Q002]   10
[X_SPACE_MRPS-MODES-JYGWMS-ASIA-Q001]   10
[X_SPACE_MRPS-MODES-JYGWMS-ASIA-Q002]   10                                           
#Y轴标签字体大小                                                                    
[Y_LABEL_MRPS-TC-HDLJ-Q001]       0.014
[Y_LABEL_MRPS-HLFX-RHUM-Q001]     0.014
[Y_LABEL_MRPS-HLFX-VWS-Q001]      0.014
[Y_LABEL_MRPS-HLFX-DLQD-Q001]     0.014
[Y_LABEL_MRPS-MYJC-SST-Q001]     0.013
[Y_LABEL_MRPS-MYJC-H500-Q001]     0.013
[Y_LABEL_MRPS-MYJC-U200-Q001]     0.013
[Y_LABEL_MRPS-HXQYJC-H500-Q001]     0.013
[Y_LABEL_MRPS-HXQYJC-SST-Q001]     0.013
[Y_LABEL_MRPS-ENSOJC-SSTA-Q001]     0.013
[Y_LABEL_MRPS-MODES-QDXYC-Q001]   0.013
[Y_LABEL_MRPS-MODES-QDXYC-Q002]   0.013
[Y_LABEL_MRPS-MODES-JYGWMS-ASIA-Q001]   0.013
[Y_LABEL_MRPS-MODES-JYGWMS-ASIA-Q002]   0.013
#Y轴主刻度线长度                                                                    
[Y_LENGTH_MRPS-TC-HDLJ-Q001]      0.006
[Y_LENGTH_MRPS-HLFX-RHUM-Q001]    0.006
[Y_LENGTH_MRPS-HLFX-VWS-Q001]     0.006
[Y_LENGTH_MRPS-HLFX-DLQD-Q001]    0.006
[Y_LENGTH_MRPS-MYJC-SST-Q001]    0.006
[Y_LENGTH_MRPS-MYJC-H500-Q001]    0.006
[Y_LENGTH_MRPS-MYJC-U200-Q001]    0.006
[Y_LENGTH_MRPS-HXQYJC-H500-Q001]    0.006
[Y_LENGTH_MRPS-HXQYJC-SST-Q001]    0.006
[Y_LENGTH_MRPS-ENSOJC-SSTA-Q001]    0.006
[Y_LENGTH_MRPS-MODES-QDXYC-Q001]   0.006
[Y_LENGTH_MRPS-MODES-QDXYC-Q002]   0.006
[Y_LENGTH_MRPS-MODES-JYGWMS-ASIA-Q001]   0.006
[Y_LENGTH_MRPS-MODES-JYGWMS-ASIA-Q002]   0.006
#Y轴刻度厚度                           
[Y_THICK_MRPS-TC-HDLJ-Q001]        2
[Y_THICK_MRPS-HLFX-RHUM-Q001]      2
[Y_THICK_MRPS-HLFX-VWS-Q001]       2
[Y_THICK_MRPS-HLFX-DLQD-Q001]      2
[Y_THICK_MRPS-MYJC-SST-Q001]      2
[Y_THICK_MRPS-MYJC-H500-Q001]      2
[Y_THICK_MRPS-MYJC-U200-Q001]      2
[Y_THICK_MRPS-HXQYJC-H500-Q001]      2
[Y_THICK_MRPS-HXQYJC-SST-Q001]      2
[Y_THICK_MRPS-ENSOJC-SSTA-Q001]      2
[Y_THICK_MRPS-MODES-QDXYC-Q001]   2
[Y_THICK_MRPS-MODES-QDXYC-Q002]   2
[Y_THICK_MRPS-MODES-JYGWMS-ASIA-Q001]   2
[Y_THICK_MRPS-MODES-JYGWMS-ASIA-Q002]   2
#Y轴主刻度间隔                                                                      
[Y_SPACE_MRPS-TC-HDLJ-Q001]       10
[Y_SPACE_MRPS-HLFX-RHUM-Q001]     10
[Y_SPACE_MRPS-HLFX-VWS-Q001]      10
[Y_SPACE_MRPS-HLFX-DLQD-Q001]     10
[Y_SPACE_MRPS-MYJC-SST-Q001]     30
[Y_SPACE_MRPS-MYJC-H500-Q001]     20
[Y_SPACE_MRPS-MYJC-U200-Q001]     20
[Y_SPACE_MRPS-HXQYJC-H500-Q001]     45
[Y_SPACE_MRPS-HXQYJC-SST-Q001]     45
[Y_SPACE_MRPS-ENSOJC-SSTA-Q001]     30
[Y_SPACE_MRPS-MODES-QDXYC-Q001]   10
[Y_SPACE_MRPS-MODES-QDXYC-Q002]   10
[Y_SPACE_MRPS-MODES-JYGWMS-ASIA-Q001]   10
[Y_SPACE_MRPS-MODES-JYGWMS-ASIA-Q002]   10
#X坐标轴网格线是否打开                                                              
[tmXMajorGrid_MRPS-TC-HDLJ-Q001]     True
[tmXMajorGrid_MRPS-HLFX-RHUM-Q001]   True
[tmXMajorGrid_MRPS-HLFX-VWS-Q001]    True
[tmXMajorGrid_MRPS-HLFX-DLQD-Q001]   True
[tmXMajorGrid_MRPS-MYJC-SST-Q001]   True
[tmXMajorGrid_MRPS-MYJC-H500-Q001]   True
[tmXMajorGrid_MRPS-MYJC-U200-Q001]   True
[tmXMajorGrid_MRPS-HXQYJC-H500-Q001]   False
[tmXMajorGrid_MRPS-HXQYJC-SST-Q001]   False
[tmXMajorGrid_MRPS-ENSOJC-SSTA-Q001]   False
[tmXMajorGrid_MRPS-MODES-QDXYC-Q001]   True
[tmXMajorGrid_MRPS-MODES-QDXYC-Q002]   True
[tmXMajorGrid_MRPS-MODES-JYGWMS-ASIA-Q001]   True
[tmXMajorGrid_MRPS-MODES-JYGWMS-ASIA-Q002]   True
#X坐标轴网格线是否为虚线                                                            
[tmXMajorGridLineDashPattern_MRPS-TC-HDLJ-Q001]     1
[tmXMajorGridLineDashPattern_MRPS-HLFX-RHUM-Q001]   1
[tmXMajorGridLineDashPattern_MRPS-HLFX-VWS-Q001]    1
[tmXMajorGridLineDashPattern_MRPS-HLFX-DLQD-Q001]   1
[tmXMajorGridLineDashPattern_MRPS-MYJC-SST-Q001]   1
[tmXMajorGridLineDashPattern_MRPS-MYJC-H500-Q001]   1
[tmXMajorGridLineDashPattern_MRPS-MYJC-U200-Q001]   1
[tmXMajorGridLineDashPattern_MRPS-HXQYJC-H500-Q001]   0
[tmXMajorGridLineDashPattern_MRPS-HXQYJC-SST-Q001]   0
[tmXMajorGridLineDashPattern_MRPS-ENSOJC-SSTA-Q001]   0
[tmXMajorGridLineDashPattern_MRPS-MODES-QDXYC-Q001]   0
[tmXMajorGridLineDashPattern_MRPS-MODES-QDXYC-Q002]   0
[tmXMajorGridLineDashPattern_MRPS-MODES-JYGWMS-ASIA-Q001]   0
[tmXMajorGridLineDashPattern_MRPS-MODES-JYGWMS-ASIA-Q002]   0
#X轴主刻度网线粗细                                                                  
[tmXMajorGridThicknessF_MRPS-TC-HDLJ-Q001]    0.5
[tmXMajorGridThicknessF_MRPS-HLFX-RHUM-Q001]  0.5
[tmXMajorGridThicknessF_MRPS-HLFX-VWS-Q001]   0.5
[tmXMajorGridThicknessF_MRPS-HLFX-DLQD-Q001]  0.5
[tmXMajorGridThicknessF_MRPS-MYJC-SST-Q001]  0.5
[tmXMajorGridThicknessF_MRPS-MYJC-H500-Q001]  0.5
[tmXMajorGridThicknessF_MRPS-MYJC-U200-Q001]  0.5
[tmXMajorGridThicknessF_MRPS-HXQYJC-H500-Q001]  0
[tmXMajorGridThicknessF_MRPS-HXQYJC-SST-Q001]  0
[tmXMajorGridThicknessF_MRPS-ENSOJC-SSTA-Q001]  0
[tmXMajorGridThicknessF_MRPS-MODES-QDXYC-Q001]   0
[tmXMajorGridThicknessF_MRPS-MODES-QDXYC-Q002]   0
[tmXMajorGridThicknessF_MRPS-MODES-JYGWMS-ASIA-Q001]   0
[tmXMajorGridThicknessF_MRPS-MODES-JYGWMS-ASIA-Q002]   0
#Y坐标轴网格线是否打开                                                              
[tmYMajorGrid_MRPS-TC-HDLJ-Q001]     True
[tmYMajorGrid_MRPS-HLFX-RHUM-Q001]   True
[tmYMajorGrid_MRPS-HLFX-VWS-Q001]    True
[tmYMajorGrid_MRPS-HLFX-DLQD-Q001]   True
[tmYMajorGrid_MRPS-MYJC-SST-Q001]   True
[tmYMajorGrid_MRPS-MYJC-H500-Q001]   True
[tmYMajorGrid_MRPS-MYJC-U200-Q001]   True
[tmYMajorGrid_MRPS-HXQYJC-H500-Q001]   False
[tmYMajorGrid_MRPS-HXQYJC-SST-Q001]   False
[tmYMajorGrid_MRPS-ENSOJC-SSTA-Q001]   False
[tmYMajorGrid_MRPS-MODES-QDXYC-Q001]   True
[tmYMajorGrid_MRPS-MODES-QDXYC-Q002]   True
[tmYMajorGrid_MRPS-MODES-JYGWMS-ASIA-Q001]   True
[tmYMajorGrid_MRPS-MODES-JYGWMS-ASIA-Q002]   True
#Y坐标轴网格线是否为虚线                                                            
[tmYMajorGridLineDashPattern_MRPS-TC-HDLJ-Q001]     1
[tmYMajorGridLineDashPattern_MRPS-HLFX-RHUM-Q001]   1
[tmYMajorGridLineDashPattern_MRPS-HLFX-VWS-Q001]    1
[tmYMajorGridLineDashPattern_MRPS-HLFX-DLQD-Q001]   1
[tmYMajorGridLineDashPattern_MRPS-MYJC-SST-Q001]   1
[tmYMajorGridLineDashPattern_MRPS-MYJC-H500-Q001]   1
[tmYMajorGridLineDashPattern_MRPS-MYJC-U200-Q001]   1
[tmYMajorGridLineDashPattern_MRPS-HXQYJC-H500-Q001]   0
[tmYMajorGridLineDashPattern_MRPS-HXQYJC-SST-Q001]   0
[tmYMajorGridLineDashPattern_MRPS-ENSOJC-SSTA-Q001]   0
[tmYMajorGridLineDashPattern_MRPS-MODES-QDXYC-Q001]   0
[tmYMajorGridLineDashPattern_MRPS-MODES-QDXYC-Q002]   0
[tmYMajorGridLineDashPattern_MRPS-MODES-JYGWMS-ASIA-Q001]   0
[tmYMajorGridLineDashPattern_MRPS-MODES-JYGWMS-ASIA-Q002]   0
#Y轴主刻度网线粗细                                                                  
[tmYMajorGridThicknessF_MRPS-TC-HDLJ-Q001]     0.5
[tmYMajorGridThicknessF_MRPS-HLFX-RHUM-Q001]   0.5
[tmYMajorGridThicknessF_MRPS-HLFX-VWS-Q001]    0.5
[tmYMajorGridThicknessF_MRPS-HLFX-DLQD-Q001]   0.5
[tmYMajorGridThicknessF_MRPS-MYJC-SST-Q001]   0.5
[tmYMajorGridThicknessF_MRPS-MYJC-H500-Q001]   0.5
[tmYMajorGridThicknessF_MRPS-MYJC-U200-Q001]   0.5
[tmYMajorGridThicknessF_MRPS-HXQYJC-H500-Q001]   0
[tmYMajorGridThicknessF_MRPS-HXQYJC-SST-Q001]   0
[tmYMajorGridThicknessF_MRPS-ENSOJC-SSTA-Q001]   0
[tmYMajorGridThicknessF_MRPS-MODES-QDXYC-Q001]   0
[tmYMajorGridThicknessF_MRPS-MODES-QDXYC-Q002]   0
[tmYMajorGridThicknessF_MRPS-MODES-JYGWMS-ASIA-Q001]   0
[tmYMajorGridThicknessF_MRPS-MODES-JYGWMS-ASIA-Q002]   0
#####################等值线属性设置(若cnLinson为False,则下方不用设置)###############
#等值线是否显示                                                                     
[cnLinesOn_MRPS-TC-HDLJ-Q001]    False
[cnLinesOn_MRPS-HLFX-RHUM-Q001]  False
[cnLinesOn_MRPS-HLFX-VWS-Q001]   False
[cnLinesOn_MRPS-HLFX-DLQD-Q001]  False
[cnLinesOn_MRPS-BCC-PRECIP-Q001]  False
[cnLinesOn_MRPS-BCC-TEMP-Q001]  False
[cnLinesOn_MRPS-CMAP-PRECIP-Q001]  False
[cnLinesOn_MRPS-NCEP-TEMP-Q001]  False
[cnLinesOn_MRPS-FODAS-PRECIP-Q001]  False
[cnLinesOn_MRPS-FODAS-TEMP-Q001]  False
[cnLinesOn_MRPS-FODAS-PRECIP-Q002]  False
[cnLinesOn_MRPS-FODAS-TEMP-Q002]  False
[cnLinesOn_MRPS-YSQYC-TEMP-Q004]   False
[cnLinesOn_MRPS-YSQYC-PRATE-Q004]  False
[cnLinesOn_MRPS-MYJC-SST-Q001]  False
[cnLinesOn_MRPS-MYJC-H500-Q001]  False
[cnLinesOn_MRPS-MYJC-U200-Q001]  False
[cnLinesOn_MRPS-HXQYJC-H500-Q001]  True
[cnLinesOn_MRPS-HXQYJC-SST-Q001]  True
[cnLinesOn_MRPS-ENSOJC-SSTA-Q001]  False
[cnLinesOn_MRPS-MODES-QDXYC-Q001]   True
[cnLinesOn_MRPS-MODES-QDXYC-Q002]   True
[cnLinesOn_MRPS-MODES-JYGWMS-ASIA-Q001]   True
[cnLinesOn_MRPS-MODES-JYGWMS-ASIA-Q002]   True
[cnLinesOn_MRPS-MODES-JYGWMS-CH-Q001]   True
[cnLinesOn_MRPS-MODES-JYGWMS-CH-Q002]   True
#数值字体大小                                                                       
[CL_LABEL_MRPS-TC-HDLJ-Q001]   0.0076
[CL_LABEL_MRPS-MODES-QDXYC-Q001]   0.0076
[CL_LABEL_MRPS-MODES-QDXYC-Q002]   0.0076
[CL_LABEL_MRPS-MODES-JYGWMS-ASIA-Q001]   0.0076
[CL_LABEL_MRPS-MODES-JYGWMS-ASIA-Q002]   0.0076
[CL_LABEL_MRPS-MODES-JYGWMS-CH-Q001]   0.0076
[CL_LABEL_MRPS-MODES-JYGWMS-CH-Q002]   0.0076
#数值密度                                                                           
[CL_DENSITY_MRPS-TC-HDLJ-Q001]   0.5
[CL_DENSITY_MRPS-MODES-QDXYC-Q001]   0.5
[CL_DENSITY_MRPS-MODES-QDXYC-Q002]   0.5
[CL_DENSITY_MRPS-MODES-JYGWMS-ASIA-Q001]   0.5
[CL_DENSITY_MRPS-MODES-JYGWMS-ASIA-Q002]   0.5
[CL_DENSITY_MRPS-MODES-JYGWMS-CH-Q001]   0.5
[CL_DENSITY_MRPS-MODES-JYGWMS-CH-Q002]   0.5
#平滑系数                                                                           
[CS_DistanceF_MRPS-TC-HDLJ-Q001] 0.001
[CS_DistanceF_MRPS-HXQYJC-H500-Q001] 0.001
[CS_DistanceF_MRPS-HXQYJC-SST-Q001] 0.001
[CS_DistanceF_MRPS-MODES-QDXYC-Q001]   0.001
[CS_DistanceF_MRPS-MODES-QDXYC-Q002]   0.001
[CS_DistanceF_MRPS-MODES-JYGWMS-ASIA-Q001]   0.001
[CS_DistanceF_MRPS-MODES-JYGWMS-ASIA-Q002]   0.001
[CS_DistanceF_MRPS-MODES-JYGWMS-CH-Q001]   0.001
[CS_DistanceF_MRPS-MODES-JYGWMS-CH-Q002]   0.001
#等值线粗细                              
[LineThick_MRPS-TC-HDLJ-Q001]  3
[LineThick_MRPS-HXQYJC-H500-Q001]  1
[LineThick_MRPS-HXQYJC-SST-Q001]  1
[LineThick_MRPS-ENSOJC-SSTA-Q001]  1
[LineThick_MRPS-MODES-QDXYC-Q001]   1
[LineThick_MRPS-MODES-QDXYC-Q002]   1
[LineThick_MRPS-MODES-JYGWMS-ASIA-Q001]   1
[LineThick_MRPS-MODES-JYGWMS-ASIA-Q002]   1
[LineThick_MRPS-MODES-JYGWMS-CH-Q001]   1
[LineThick_MRPS-MODES-JYGWMS-CH-Q002]   1
#0值线用正数表示加粗                                                                
[ZEROLINE_MRPS-BCC-PRECIP-Q001] 2
[ZEROLINE_MRPS-CMAP-PRECIP-Q001] 2
[ZEROLINE_MRPS-FODAS-PRECIP-Q001] 2
[ZEROLINE_MRPS-HXQYJC-H500-Q001] 3
[ZEROLINE_MRPS-HXQYJC-SST-Q001] 3
[ZEROLINE_MRPS-MODES-QDXYC-Q001]   2
[ZEROLINE_MRPS-MODES-QDXYC-Q002]   2
[ZEROLINE_MRPS-MODES-JYGWMS-ASIA-Q001]   2
[ZEROLINE_MRPS-MODES-JYGWMS-ASIA-Q002]   2
[ZEROLINE_MRPS-MODES-JYGWMS-CH-Q001]   2
[ZEROLINE_MRPS-MODES-JYGWMS-CH-Q002]   2
#等值线上的数字标签是否显示                                                         
[cnLineLabelsOn_MRPS-TC-HDLJ-Q001]   False
[cnLineLabelsOn_MRPS-HXQYJC-H500-Q001]   False
[cnLineLabelsOn_MRPS-HXQYJC-SST-Q001]   False
[cnLineLabelsOn_MRPS-ENSOJC-SSTA-Q001]   False
[cnLineLabelsOn_MRPS-MODES-QDXYC-Q001]   True
[cnLineLabelsOn_MRPS-MODES-QDXYC-Q002]   True
[cnLineLabelsOn_MRPS-MODES-JYGWMS-ASIA-Q001]   True
[cnLineLabelsOn_MRPS-MODES-JYGWMS-ASIA-Q002]   True
[cnLineLabelsOn_MRPS-MODES-JYGWMS-CH-Q001]   True
[cnLineLabelsOn_MRPS-MODES-JYGWMS-CH-Q002]   True
###############################是否填色#############################################
[cnFillOn_MRPS-TC-HDLJ-Q001]    True
[cnFillOn_MRPS-HLFX-RHUM-Q001]  True
[cnFillOn_MRPS-HLFX-VWS-Q001]  True
[cnFillOn_MRPS-HLFX-DLQD-Q001]  True
[cnFillOn_MRPS-BCC-PRECIP-Q001]  True
[cnFillOn_MRPS-BCC-TEMP-Q001]  True
[cnFillOn_MRPS-CMAP-PRECIP-Q001]  True
[cnFillOn_MRPS-NCEP-TEMP-Q001]  True
[cnFillOn_MRPS-FODAS-PRECIP-Q001]  True
[cnFillOn_MRPS-FODAS-TEMP-Q001]  True
[cnFillOn_MRPS-FODAS-PRECIP-Q002]  True
[cnFillOn_MRPS-FODAS-TEMP-Q002]  True
[cnFillOn_MRPS-YSQYC-TEMP-Q004]   True
[cnFillOn_MRPS-YSQYC-PRATE-Q004]  True
[cnFillOn_MRPS-MYJC-SST-Q001]  True
[cnFillOn_MRPS-MYJC-H500-Q001]  True
[cnFillOn_MRPS-MYJC-U200-Q001]  True
[cnFillOn_MRPS-HXQYJC-H500-Q001]  True
[cnFillOn_MRPS-HXQYJC-SST-Q001]  True
[cnFillOn_MRPS-ENSOJC-SSTA-Q001]  True
[cnFillOn_MRPS-MODES-QDXYC-Q001]   True
[cnFillOn_MRPS-MODES-QDXYC-Q002]   True
[cnFillOn_MRPS-MODES-JYGWMS-ASIA-Q001]   True
[cnFillOn_MRPS-MODES-JYGWMS-ASIA-Q002]   True
[cnFillOn_MRPS-MODES-JYGWMS-CH-Q001]   True
[cnFillOn_MRPS-MODES-JYGWMS-CH-Q002]   True
################################陆地是否填色####################################
#[LandFillColor_MRPS-HXQYJC-SST-Q001] #ababab
#################################打点设置###########################################
[cnMarkerOn_MRPS-FODAS-PRECIP-Q002]  True
[cnMarkerOn_MRPS-FODAS-TEMP-Q002]  True
[cnMarkerOn_MRPS-MYJC-SST-Q001]  True
[cnMarkerOn_MRPS-MYJC-H500-Q001]  True
[cnMarkerOn_MRPS-MYJC-U200-Q001]  True
#####################地理线属性设置(若地理线透明,则无需设置)########################
#地理线颜色                                                                         
[mpGeoLineColor_MRPS-TC-HDLJ-Q001]    #404040
[mpGeoLineColor_MRPS-HLFX-RHUM-Q001]  #404040
[mpGeoLineColor_MRPS-HLFX-VWS-Q001]   #404040
[mpGeoLineColor_MRPS-HLFX-DLQD-Q001]  #404040
[mpGeoLineColor_MRPS-MYJC-SST-Q001]  #404040
[mpGeoLineColor_MRPS-MYJC-H500-Q001]  #404040
[mpGeoLineColor_MRPS-MYJC-U200-Q001]  #404040
[mpGeoLineColor_MRPS-HXQYJC-H500-Q001]  #404040
[mpGeoLineColor_MRPS-HXQYJC-SST-Q001]  #404040
[mpGeoLineColor_MRPS-ENSOJC-SSTA-Q001]  #404040
[mpGeoLineColor_MRPS-MODES-QDXYC-Q001]    #404040
[mpGeoLineColor_MRPS-MODES-QDXYC-Q002]    #404040
[mpGeoLineColor_MRPS-MODES-JYGWMS-ASIA-Q001]    #404040
[mpGeoLineColor_MRPS-MODES-JYGWMS-ASIA-Q002]    #404040
[mpGeoLineColor_MRPS-MODES-JYGWMS-CH-Q001]    #404040
[mpGeoLineColor_MRPS-MODES-JYGWMS-CH-Q002]    #404040
#地理线粗细                                                                         
[mpLineThicknessF_MRPS-TC-HDLJ-Q001]    2
[mpLineThicknessF_MRPS-HLFX-RHUM-Q001]  2
[mpLineThicknessF_MRPS-HLFX-VWS-Q001]   2
[mpLineThicknessF_MRPS-HLFX-DLQD-Q001]  2
[mpLineThicknessF_MRPS-MYJC-SST-Q001]  2
[mpLineThicknessF_MRPS-MYJC-H500-Q001]  2
[mpLineThicknessF_MRPS-MYJC-U200-Q001]  2
[mpLineThicknessF_MRPS-HXQYJC-H500-Q001]  2
[mpLineThicknessF_MRPS-HXQYJC-SST-Q001]  2
[mpLineThicknessF_MRPS-ENSOJC-SSTA-Q001]  2
[mpLineThicknessF_MRPS-MODES-QDXYC-Q001]   2
[mpLineThicknessF_MRPS-MODES-QDXYC-Q002]   2
[mpLineThicknessF_MRPS-MODES-JYGWMS-ASIA-Q001]   2
[mpLineThicknessF_MRPS-MODES-JYGWMS-ASIA-Q002]   2
[mpLineThicknessF_MRPS-MODES-JYGWMS-CH-Q001]   2
[mpLineThicknessF_MRPS-MODES-JYGWMS-CH-Q002]   2
#是否显示国界线                                                                        
[mpOutlineBoundary_MRPS-ENSOJC-SSTA-Q001]  False
[mpOutlineBoundary_MRPS-MYJC-SST-Q001]  False
[mpOutlineBoundary_MRPS-HXQYJC-SST-Q001]  False
########是否需要插值（格点插值格点，若不需要插值则不需要设置）######################
[DataReset_MRPS-TC-HDLJ-Q001] True
###############################图例#################################################
[COLORCFG_MRPS-TC-HDLJ-Q001_md]   colormaps/mrps/color_tc_hdljmd.ini
[COLORCFG_MRPS-TC-HDLJ-Q001_jp]   colormaps/mrps/color_tc_hdljmd_jp.ini
[COLORCFG_MRPS-TC-HDLJ-Q001_sc]   colormaps/mrps/color_tc_sc.ini
[COLORCFG_MRPS-HLFX-RHUM-Q001_sk]   colormaps/mrps/color_mrps_rh500.ini
[COLORCFG_MRPS-HLFX-RHUM-Q001_jp]   colormaps/mrps/color_mrps_rh500_jp.ini
[COLORCFG_MRPS-HLFX-VWS-Q001_sk]   colormaps/mrps/color_mrps_vws.ini
[COLORCFG_MRPS-HLFX-VWS-Q001_jp]   colormaps/mrps/color_mrps_vws.ini
[COLORCFG_MRPS-HLFX-DLQD-Q001_sk]   colormaps/mrps/color_tc_olr.ini
[COLORCFG_MRPS-HLFX-DLQD-Q001_jp]   colormaps/mrps/color_tc_olr_jp.ini
[COLORCFG_MRPS-BCC-PRECIP-Q001]   colormaps/mrps/color_dltj_rain.ini
[COLORCFG_MRPS-BCC-TEMP-Q001]   colormaps/mrps/color_dltj_temp.ini
[COLORCFG_MRPS-CMAP-PRECIP-Q001]   colormaps/mrps/color_dltj_rain.ini
[COLORCFG_MRPS-NCEP-TEMP-Q001]   colormaps/mrps/color_dltj_temp.ini
[COLORCFG_MRPS-FODAS-PRECIP-Q001]   colormaps/mrps/color_dltj_rain.ini
[COLORCFG_MRPS-FODAS-TEMP-Q001]   colormaps/mrps/color_dltj_temp.ini
[COLORCFG_MRPS-FODAS-PRECIP-Q002]   colormaps/mrps/color_fodas_ycjy.ini
[COLORCFG_MRPS-FODAS-TEMP-Q002]   colormaps/mrps/color_fodas_ycjy.ini
[COLORCFG_MRPS-YSQYC-TEMP-Q004]    colormaps/mrps/color_derf_tempa.ini
[COLORCFG_MRPS-YSQYC-PRATE-Q004]   colormaps/mrps/color_derf_rainap.ini
[COLORCFG_MRPS-MYJC-SST-Q001]   colormaps/mrps/color_prjc_acc.ini
[COLORCFG_MRPS-MYJC-H500-Q001]   colormaps/mrps/color_prjc_acc.ini
[COLORCFG_MRPS-MYJC-U200-Q001]   colormaps/mrps/color_prjc_acc.ini
[COLORCFG_MRPS-HXQYJC-H500-Q001]   colormaps/mrps/color_hxqy_acc.ini
[COLORCFG_MRPS-HXQYJC-SST-Q001]   colormaps/mrps/color_hxqy_acc.ini
[COLORCFG_MRPS-ENSOJC-SSTA-Q001]   colormaps/mrps/color_ensojc_ssta.ini
[COLORCFG_MRPS-MODES-QDXYC-Q001]   colormaps/mrps/color_modes_tempjp.ini
[COLORCFG_MRPS-MODES-QDXYC-Q002]   colormaps/mrps/color_modes_rainjp.ini
[COLORCFG_MRPS-MODES-JYGWMS-ASIA-Q001]   colormaps/mrps/color_modes_tempjp.ini
[COLORCFG_MRPS-MODES-JYGWMS-ASIA-Q002]   colormaps/mrps/color_modes_rainjp1.ini
[COLORCFG_MRPS-MODES-JYGWMS-CH-Q001]   colormaps/mrps/color_modes_tempjp.ini
[COLORCFG_MRPS-MODES-JYGWMS-CH-Q002]   colormaps/mrps/color_modes_ch_rainjp.ini
#出图分辨率（长，宽，纵向切割像素（两边都切），横向切割像素（两边都切））
[imgSize_MRPS-TC-HDLJ-Q001] 848,530,0,159
[imgSize_MRPS-HLFX-RHUM-Q001] 848,424,0,212
[imgSize_MRPS-HLFX-VWS-Q001] 848,424,0,212
[imgSize_MRPS-HLFX-DLQD-Q001] 848,248,0,300
[imgSize_MRPS-BCC-PRECIP-Q001] 848,630,0,109
[imgSize_MRPS-BCC-TEMP-Q001] 848,630,0,109
[imgSize_MRPS-CMAP-PRECIP-Q001] 848,630,0,109
[imgSize_MRPS-NCEP-TEMP-Q001] 848,630,0,109
[imgSize_MRPS-FODAS-PRECIP-Q001] 848,630,0,109
[imgSize_MRPS-FODAS-TEMP-Q001] 848,630,0,109
[imgSize_QHYC-FODAS-CGYW-Q001] 848,630,0,109
[imgSize_MRPS-FODAS-PRECIP-Q002] 848,630,0,109
[imgSize_MRPS-FODAS-TEMP-Q002] 848,630,0,109
[imgSize_MRPS-YSQYC-TEMP-Q004]  848,630,0,109
[imgSize_MRPS-YSQYC-PRATE-Q004] 848,630,0,109
[imgSize_MRPS-MYJC-SST-Q001] 848,424,0,212
[imgSize_MRPS-HXQYJC-H500-Q001] 848,424,0,212
[imgSize_MRPS-HXQYJC-SST-Q001] 848,424,0,212
[imgSize_MRPS-MYJC-H500-Q001] 848,560,0,144
[imgSize_MRPS-MYJC-U200-Q001] 848,560,0,144
[imgSize_MRPS-ENSOJC-SSTA-Q001] 848,560,0,144
[imgSize_MRPS-MODES-QDXYC-Q001]   848,520,0,164
[imgSize_MRPS-MODES-QDXYC-Q002]   848,520,0,164
[imgSize_MRPS-MODES-JYGWMS-ASIA-Q001]   848,520,0,164
[imgSize_MRPS-MODES-JYGWMS-ASIA-Q002]   848,520,0,164
[imgSize_MRPS-MODES-JYGWMS-CH-Q001]   778,600,0,89
[imgSize_MRPS-MODES-JYGWMS-CH-Q002]   778,600,0,89